# Basic dependencies
python-dotenv
pandas

# Web scraping
scrapy
docling

# LangChain and vector DB
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-core
langchain-text-splitters
chromadb

# OpenAI
openai

#crewAI
crewai

# UI
streamlit

# Utilities
uuid

sqlite3
